.section1{
    width: 100%;
    height: 95vh;
    background-image: url("../img_s/FloresFundo.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0vh 0vh 20vh 0vh;
    margin-top: 121px;
}
.section1 .text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 25px;
    max-width: 600px;
    margin: 40px;
    background-color: transparent;
    backdrop-filter: blur(4px);
}

.section2{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.section2 .text{
    width: 80vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3{
    width: 100%;
    background-color: #2E6B29;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    border-radius: 0px 130px 0px 130px;
}
.section3 .text{
    width: 400px;
    color: white;
}

.section4{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.section4 .text{
    width: 80vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}